@import url('https://fonts.googleapis.com/css?family=Lato');
/*
background-color: #134414;
	background-color: #003000;
*/
body, html{
	height: 100%;
	background: #222222;
	font-family: 'Lato', sans-serif;
	padding: 0px;
	margin: 0px;	
	
}
body{

}

#left{
	position:relative;
	float: left;
	margin: 0 0 0 0;
	width: 100;
}
#right{
	position:relative;
	float: right;
	text-align: right;
	margin: 0 0 0 0;
}

tr{
	margin: auto;
	position: relative;
	text-align: center;
	height: 40px;
	line-height: 40px;
}
td{
	margin: auto;
	position: relative;

}
.topbar:hover{
   background-color: #80A52C;
   font-weight: 500;
   
}
.topbar{
   padding-right: 10px;
   padding-left: 10px;
   height: 60px;
}
#dblist{
	background-color: #80A52C;
	width: 100%;
	margin: 0px;
}
button{
	background-color: #80C04A;
}

ol{

}
a{
	color: black;
}
.white{
	color: white;
}
.iconSize{
	height:25px;
}


#header{
	font-family: "Arial Black", Gadget, sans-serif;
	background-color: #80C04A;
	padding:0px;
	margin: 0px;
	float: left;
	position: relative;
	width: 100%;
}

table{
	margin:0px;
}
#centerArea{
	margin: auto;
	width: 95%;
	min-width: 300px;
	padding: 5px;
	min-height: 300px;
}
#pictureHolder{
	width:100%;
}
#mainArea{

	background-color: #134414;
	border-radius: 20px;
    top: 20%;
	padding: 30px;
}
#submit{
	background-color: #80C04A;
	border-width: 3px;
	border-radius:3px;
	min-width: 200px;
	min-height: 40px;
}
myp{
	color: white;
	font-family: "Arial Black", Gadget, sans-serif;
	font-size: 20px;
	width: 80%;
}
form{
	margin: 0;
}



.centered{

    text-align: center;
	margin: auto;
	margin-left: 0px;
	margin-right: 0px;
}
.edit{
    font-family: "Arial Black", Gadget, sans-serif;
	width: 100%;
	min-height: 25px;
	background-color: #336434;
	margin-top: 0px;
	margin-bottom: 0px;
	padding-left: 15px;
}
.edit:nth-of-type(odd) {
	background-color: #80C04A;
}
.review{
	border: solid 1px black;
	padding:0px;
	margin: 0px;
	width: 100%;
}
#squaredOne {
  width: 28px;
  height: 28px;
  position: relative;
  margin: 20px auto;
  background: #fcfff4;
  background: linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
  box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
  label {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 4px;
    left: 4px;
    cursor: pointer;
    background: linear-gradient(top, #222 0%, #45484d 100%);
    box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,1);
    &:after {
      content: '';
      width: 16px;
      height: 16px;
      position: absolute;
      top: 2px;
      left: 2px;
      background: $activeColor;
      background: linear-gradient(top, $activeColor 0%, $darkenColor 100%);
      box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
      opacity: 0;
    }
    &:hover::after {
      opacity: 0.3;
    }
  }
  
  #slideThree {
  width: 80px;
  height: 26px;
  background: #333;
  margin: 20px auto;
  position: relative;
  border-radius: 50px;
  box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,0.2);
  &:after {
    content: 'OFF';
    color: #000;
    position: absolute;
    right: 10px;
    z-index: 0;
    font: 12px/26px Arial, sans-serif;
    font-weight: bold;
    text-shadow: 1px 1px 0px rgba(255,255,255,.15);
  }
  &:before {
    content: 'ON';
    color: $activeColor;
    position: absolute;
    left: 10px;
    z-index: 0;
    font: 12px/26px Arial, sans-serif;
    font-weight: bold;
  }
  label {
    display: block;
    width: 34px;
    height: 20px;
    cursor: pointer;
    position: absolute;
    top: 3px;
    left: 3px;
    z-index: 1;
    background: #fcfff4;
    background: linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
    border-radius: 50px;
    transition: all 0.4s ease;
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.3);
  }
  input[type=checkbox] {
    visibility: hidden;
    &:checked + label {
      left: 43px;
    }
  }    
}
  input[type=checkbox] {
    visibility: hidden;
    &:checked + label:after {
      opacity: 1;
    }   
  } 
}




.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #134414;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color:  #2196F3;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #80C04A;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}


.slider.round:before {
  border-radius: 50%;
}


/* Full-width input fields */
input[type=text], input[type=password], input[type=email]{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Set a style for all buttons */
button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

/* Extra styles for the cancel button */
.cancelbtn {
    padding: 14px 20px;
    background-color: #f44336;
}

/* Float cancel and signup buttons and add an equal width */
.cancelbtn,.signupbtn {
    float: left;
    width: 50%;
}

/* Add padding to container elements */
.container {
    padding: 16px;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
.close {
    position: absolute;
    right: 35px;
    top: 15px;
    color: #000;
    font-size: 40px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: red;
    cursor: pointer;
}

/* Clear floats */
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
    .cancelbtn, .signupbtn {
        width: 100%;
    }
}



