td:hover{
   background-color: #80A52C;
   font-weight: 500;
   
}
td{
   padding-right: 10px;
   padding-left: 10px;
   height: 25px;
}
ol{

}
a{
	color: black;
}
.white{
	color: white;
}
.iconSize{
	height:25px;
}
body{
	background-color: #134414;
	padding: 0px;
	margin: 0px;
}

#header{
	font-family: "Arial Black", Gadget, sans-serif;
	background-color: #80C04A;
	padding:0px;
	margin: 0px;
}

table{
	margin:0px;
}
#centerArea{
	margin: auto;
	width: 95%;
	min-width: 300px;
	padding: 5px;
	min-height: 300px;
}
.centered{

    text-align: center;
	margin: auto;
	margin-left: 0px;
	margin-right: 0px;
}
#pictureHolder{
	width:100%;
}
#mainArea{
	background-color: #003000;
	border-radius: 20px;
    top: 20%;
	padding: 30px;
}

myp{
	color: white;
	font-family: "Arial Black", Gadget, sans-serif;
	font-size: 20px;
	width: 80%;
<<<<<<< HEAD
	
}
=======
}
>>>>>>> 00c3cb7dc4776d79a9216e25381a967ad1d14904
